
! Rofi configuration
! ------------------
rofi.font: Sansation 18
rofi.width: 100
rofi.bw: 0
rofi.lines: 7
rofi.padding: 500

! Xft
Xft.dpi:                    96
Xft.antialias:           true
Xft.hinting:              true
Xft.hintstyle:           hintfull
Xft.rgba:                  rgb

rofi.separator-style: solid
rofi.color-enabled: true
rofi.color-window: argb:cc000000, #3ea290, #3ea290
rofi.color-normal: argb:00000000, #888888, argb:00000000, argb:00000000, #3ea290
rofi.color-active: argb:00000000, #3ea290, argb:00000000, #3ea290, #000000
rofi.color-urgent: argb:00000000, #52ad91, argb:00000000, #52ad91, #000000

! xst
! These are all possible options, presented with default values.
! xst will fallback to *.option if st.option is not present.
! see src/config.h for more information about option meanings.

! These options only take effect on startup.
st.termname:     st-256color
! if you do not set shell, precedence is: -e arg, utmp option, SHELL env var, /etc/passwd shell
st.shell:        /bin/bash

! The following options options can be reloaded via USR1 signal.
!st.font:              Liberation Mono:pixelsize=12:antialias=true:autohint=true;
st.font:              Hack Nerd Font Mono:pixelsize=17
st.borderpx:          10
! Available cursor values: 2 4 6 7 = ¦ _ | ? ( 1 3 5 are blinking versions)
st.cursorshape:       2
! thickness of underline and bar cursors
st.cursorthickness:   2
! 0: normal blinking, 1: leave cursor border and blink with cursors background
st.cursorblinkstyle:  0
! 0: cursor blinks with a constant interval; 1: blinking cycle resets on key input
st.cursorblinkontype: 1
st.bold_font:         0
st.xfps:              120
st.actionfps:         30
! Amount of lines scrolled
st.mouseScrollLines:  1
! Kerning / character bounding-box height multiplier
st.chscale:           1.0
! Kerning / character bounding-box width multiplier
st.cwscale:           1.0
! blinking timeout for terminal and cursor blinking (0 disables)
st.blinktimeout:      800
! bell volume. Value between -100 and 100. (0 disables)
st.bellvolume:        100
! this is a char that is exposed like so: `printf '\033[z'`
st.prompt_char:       $
! This option is can be preedit style. Available values: `root` `overthespot` (Default taken `root`)
st.imstyle:           root

! opacity==255 means what terminal will be not transparent, 0 - fully transparent
st.opacity:      180
! Defaults taken from base16-twilight colorscheme.
st.foreground:   #a7a7a7
st.background:   #1e1e1e
st.color0:       #1e1e1e
st.color1:       #cf6a4c
st.color2:       #8f9d6a
st.color3:       #f9ee98
st.color4:       #7587a6
st.color5:       #9b859d
st.color6:       #afc4db
st.color7:       #a7a7a7
st.color8:       #5f5a60
st.color9:       #cf6a4c
st.color10:      #8f9d6a
st.color11:      #f9ee98
st.color12:      #7587a6
st.color13:      #9b859d
st.color14:      #afc4db
st.color15:      #ffffff
st.color16:      #cda869
st.color17:      #9b703f
st.color18:      #323537
st.color19:      #464b50
st.color20:      #838184
st.color21: #c3c3c3
!XTerm*faceName: Hack Regular
XTerm.termName: xterm-256color
! XTerm*faceName: TerminessTTF Nerd Font:size=15
!XTerm*faceName: Hack Nerd Font Mono:size=15
XTerm*faceName: Hack Nerd Font Mono:pixelsize=17
XTerm*saveLines: 1000

! -------------------
!URxvt.font: xft:Inconsolata for Powerline:size=15
URxvt.geometry: 80x20
URxvt.scrollBar: false
URxvt.urgentOnBell: true
URxvt.lineSpace: 2
URxvt.internalBorder: 15
URxvt.mouseWheelScrollPage: true
URxvt.font:         xft:Hack Nerd Font Mono:pixelsize=19,xft:Symbola
URxvt.boldFont:     xft:Hack Nerd Font Mono:pixelsize=19:weight=bold,xft:Symbola
URxvt.italicFont: xft:Hack-RegularOblique:pixelsize=14:slant=italic,xft:Symbola

! Transparency
URxvt.depth: 32
URxvt.transparent: true
URxvt.shading: 10

URxvt.foreground:   #ffffff
URxvt.background:   rgba:0000/0000/0000/dd00
URxvt.cursorColor:  #ffffff
! --- ~/.Xresources ------------------------------------------------------------
! ------------------------------------------------------------------------------
! --- generated with 4bit Terminal Color Scheme Designer -----------------------
! ------------------------------------------------------------------------------
! --- http://ciembor.github.com/4bit -------------------------------------------
! ------------------------------------------------------------------------------

! --- special colors ---

*background: #0d1926
*foreground: #d9e6f2

! --- standard colors ---

! black
*color0: #000000

! bright_black
*color8: #262626

! red
*color1: #b87a7a

! bright_red
*color9: #dbbdbd

! green
*color2: #7ab87a

! bright_green
*color10: #bddbbd

! yellow
*color3: #b8b87a

! bright_yellow
*color11: #dbdbbd

! blue
*color4: #7a7ab8

! bright_blue
*color12: #bdbddb

! magenta
*color5: #b87ab8

! bright_magenta
*color13: #dbbddb

! cyan
*color6: #7ab8b8

! bright_cyan
*color14: #bddbdb

! white
*color7: #d9d9d9

! bright_white
*color15: #ffffff


! ------------------------------------------------------------------------------
! --- end of terminal colors section -------------------------------------------
! ------------------------------------------------------------------------------


